service internal
!
!
ntp server 169.254.169.254
!
!
interface GigabitEthernet1
 description nic0
!
!
interface Loopback0
description router-id
ip address ${router-id} 255.255.255.255
!
!
interface Loopback1
description local-loopback
ip address ${local-loopback} 255.255.255.0
!
!
no interface Tunnel0
interface Tunnel0
ip address ${tunnel0-ip} 255.255.255.0
ip mtu 1400
tunnel source GigabitEthernet1
tunnel mode ipip
tunnel destination ${peer-address}
!
!
ip route ${peer-bgp-address} 255.255.255.255 Tunnel0
!
!
no router bgp ${local-as}
router bgp ${local-as}
bgp router-id interface Loopback0
network ${advertised-network} mask 255.255.255.0
bgp log-neighbor-changes
neighbor ${peer-bgp-address} remote-as ${peer-as}
!
!
address-family ipv4
neighbor ${peer-bgp-address} activate
no auto-summary
!
