service internal
!
!
ntp server 169.254.169.254
!
!
interface GigabitEthernet1
 description nic0
!
!
interface GigabitEthernet2
 description nic1
 ip address dhcp
 no shutdown
!
!
interface Loopback0
 description router-id
 ip address 32.32.32.32 255.255.255.255
!
!
interface Tunnel0
 ip address 192.168.21.3 255.255.255.0
 ip mtu 1400
 tunnel source GigabitEthernet1
 tunnel mode ipip
 tunnel destination 10.0.21.2
ip route 192.168.21.2 255.255.255.255 Tunnel0
!
!
interface Tunnel1
 ip address 192.168.12.3 255.255.255.0
 ip mtu 1400
 tunnel source GigabitEthernet2
 tunnel mode ipip
 tunnel destination 10.0.12.2
ip route 192.168.12.2 255.255.255.255 Tunnel1
!
!
no router bgp 65002
router bgp 65002
 bgp router-id interface Loopback0
 bgp log-neighbor-changes
 neighbor 192.168.12.2 remote-as 65002
 neighbor 192.168.21.2 remote-as 65001
 !
 address-family ipv4
  neighbor 192.168.12.2 activate
  neighbor 192.168.21.2 activate
  neighbor 192.168.12.2 route-reflector-client
  neighbor 192.168.21.2 route-reflector-client
  network 192.168.12.0 mask 255.255.255.0
  network 192.168.21.0 mask 255.255.255.0
no auto-summary
!
!
 exit-address-family
!

